@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


html {font-size: 10px}
body {font-size: 1.5rem;font-family: Noto sans KR, sans-serif; color: #333; background: #F9F9F9}
#wrap {width: 100%;height: 100vh; background: #333}
.inner {
    background: #333333;
    width: 1450px;
    height: 100%;
    margin: 0 auto;
}

/*header*/
#header {
    background: #333;
    width:100%;
    height: 80px;
    position: fixed;
    color: #fff;
    z-index: 999;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-flow: row nowrap;
    width: 1450px;
    height: 100%;
    margin: auto;
}
.logo {
    font-size: 38px;
    padding: 20px 5px;
    font-family: 'Alfa Slab One', cursive;
}

#nav .nav-menu {
    display: flex;
    align-items: center;
}
#nav .nav-menu .menu {
    width: 120px;
    text-align: center;
    font-size: 2rem;
    padding: 0 5px;
}

/*main*/
#main {width: 100%; height: 100%; position: relative;}
.main-cont {color: #fff; position: absolute; top: 40%;}
.main-title {font-family: 'Alfa Slab One', cursive; font-size: 8rem;}
.text-box {color: #fff; position: absolute; top: 65%;}
.main-text {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
}
.right-img .light-img {
    position: absolute;
    top: 20%;
    right: 20%;
}
.right-img .cloud-img {
    position: absolute;
    top: 48%;
    right: 20%;
}

/*scroll*/
 .scroll-main {
    position: absolute; bottom: 8%; left: 50%;
     transform: translate(-50%, -50%);
    width: 2rem;
    height: 3rem;
    border: 3px solid #fff;
    border-radius: 20px;
}
.scroll-ball {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 6px;
    background: #fff;
}
.scroll-text {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.scroll-line {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 0.1rem;
    height: 4.5rem;
}
/*scroll-bk*/
.scroll-main.bk {
    position: absolute; bottom: 8%; left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 3rem;
    border: 3px solid #333;
    border-radius: 20px;
}
.scroll-ball.bk {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 6px;
    background: #333;
}
.scroll-text.bk {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.scroll-line.bk {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #333;
    width: 0.1rem;
    height: 4.5rem;
}



/*타이핑 효과*/
.typing-txt{display: none;}
.typing > ul{list-style:none; font-family: 'Alfa Slab One', cursive; font-size: 8rem;}
.typing ul li.on {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    padding-right: 1.5rem;
    height: 9rem;
}
@keyframes cursor{
    0%{border-right: 2px solid #fff}
    50%{border-right: 2px solid #000}
    100%{border-right: 2px solid #fff}
}

/*aboutMe*/
#aboutMe {width: 100%; height: 900px; position: relative;}
#aboutMe > .inner {
    background: #F9F9F9;
}
.about-cont {
    width: 100%;
    height: 60rem;
    padding: 14rem 0rem;
}

.left-title {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
}
.about-visual {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-img {
    margin: 7rem 0;
    width: 350px;
    height: 450px;
}
.about-img > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.1);
}
.about-box {
    width: 900px;
    margin: 7rem 0;
}
.about-title {
    font-size: 2.4rem;
    font-weight: 500;
}
.about-box > .about-text {
    margin: 1rem 1rem;
    word-break: break-word;
    line-height: 1.8;
}
.about-box > .about-text > span {
    padding-top: 2rem;
    display: inline-block;
}
.about-skills > ul {
    margin: 0.5rem 1rem;
}
.skill-box {
    margin-bottom: 1.4rem;
}
.skill-name {
    font-size: 2.3rem;
    font-weight: 500;
}
.skill-list {
    font-size: 1.8rem;
    font-weight: normal;
}

