@charset "utf-8";

@import url(fonts.css);
@import url(reset.css);
@import url(all.min.css);

/*common*/
html {font-size: 10px;}
body {font: 1.5rem 'Noto sans KR', sans-serif; color: #333;}
.inner {width: 1360px; margin: 0 auto;}
/*scroll-down*/
.scroll-down {position: absolute; bottom: 30px; left: 49%; z-index: 500;}
.scroll-down p {text-align: center; color: #fff; font-size: 1.2rem; font-weight: bold;}
.scroll-down .scroll{
    width: 20px;
    height: 35px;
    border: 3px solid rgba(255,255,255,0.5);
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
    
    
.scroll-down .scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    top: 15px;
    left: 5px;
    animation: scroll-down 1.3s ease-out;
    animation-iteration-count: infinite;
}

@keyframes scroll-down {
  from {top: 10%;
  }
  to {
    bottom: 100%;
      opacity: 0.1;
  }
}

/*scroll-gray*/
.scrollGray p {
    color: #999;
}
.scrollGray .scroll {
    border: 3px solid rgba(153, 153, 153, 0.4);
}
.scrollGray .scroll:before {
    background: #999;
}

/*blackTitle*/
.blackTitle {position: relative; padding-top: 15rem;}

.blackTitle {font-family: 'NIXGONB-Vb'; font-size: 4rem; padding-bottom: 3rem; text-align: center;}

.blackTitle:before {
    content: '';
    width: 5px; height: 5px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 130px; left: 47%;
}
/*//coomon 끝*/



/*header*/
#main-header {
    font-family: 'Noto Sans KR',sans-serif;
    letter-spacing: -1px;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 990;
}
#main-header .top-header {
    position: relative; 
    box-sizing: border-box; 
    background: rgba(0,0,0,0.1);
    color:#fff;
}
#main-header .top-header:after {
    content: '';
    width: 100%; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/*add/remoceClass*/
#main-header.active {
        height: 102px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    transition: all 0.3s;
}



/*mainLogo*/
#main-header .top-header #main-logo {float: left; position: relative; width: 15%; height: 100px; box-sizing: border-box;}
#main-header .top-header #main-logo .logo {position: absolute; top: 30%; left: 20%;}

/*nav-gnb*/
#gnb {float: left; width:75%; height: 100px; position: relative; font-weight: 500;}
#gnb .gnb-menu ul {text-align: center; width: 100%; position: absolute; top: 65%; left: 50%; transform: translate(-50%,-50%);}

#gnb .gnb-menu ul li {
    float: left;
    width: calc(100%/8 - 10px);
    display: inline-block;
    height: 50px; 
    position: relative;
}
#gnb .gnb-menu ul li:hover {
        color: #1c98bc;
    transition: all 0.2s;
}


/*util*/
#util {float: right; width: 160px; box-sizing: border-box;}
#util ul li {float: left; font-size: 2rem;
    line-height: 100px; margin-right: 2.2rem;}
#util ul li .langBox {font-size: 1.4rem; border: 1px solid rgba(255, 255, 255, 0.8); padding: 6px 8px 5px 8px; box-sizing: border-box;}

#main-header .top-header #gnb ul li {
    font-size: 1.6rem; 
}

/*sub-menu*/
.sub-menu {background: rgba(0, 64, 128, 0.9); width: 100%; position: absolute; top: 0; left: 0; padding-left: 15%; height: 480px; z-index: -1;
display: none;}

.sub-menu .sub-2depth {padding-top: 10rem; float: left; width: calc(70%/8); text-align: center;}

.sub-menu .sub-2depth li {padding: 1.2rem 1.5rem;}
.sub-menu .sub-2depth li:hover {
    color: #1c98bc;
    transition: all 0.2s;
}
.sub-menu .sub-2depth + .sub-2depth {margin-right: 0.3rem;}
/*//header 끝*/





/*subVisual*/
#subVisual .subImg {position: relative; width: 100%; height: 400px; background: url(../img/subImg/sub_visual_01.jpg) no-repeat center/cover;}
#subVisual .subImg > h2 {position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%);
    font-size: 6rem; color: #fff; font-weight: 600;}

#subVisual .menuBox {position: relative; background: #002f5f; padding: 3rem 5rem; margin-top: -50px; z-index: 900; box-shadow: 0px 10px 40px -20px #002f5f;}
#subVisual .menuBox ul {margin: 0 auto; } 
#subVisual .menuBox ul li {float: left; /* width: calc(1360px/8);*/ color: #fff; font-size: 1.8rem; padding: 0 5rem; font-weight: 500; text-align: center; position: relative;}
#subVisual .menuBox ul li:hover {  color: #1c98bc;
    transition: all 0.2s;}
#subVisual .menuBox ul li:after {
    content: '';
    position: absolute;
    top: 30%; left: 0;
    height: 15px; width: 1px;
    background: #fff no-repeat center;
    opacity: 0.5
}
#subVisual .menuBox ul li:first-child:after {
    display: none;
}

/*subContnets*/
#subContents .subTitle {position: relative; padding:6rem 0;}
#subContents .subTitle h3{text-align: center; font-size: 5rem; font-weight: 500; color: #0052a4; }
#subContents .subTitle h3:before {
    content: '';
    position: absolute;
    bottom: 45px; 
    width: 50px; height: 2.5px;
    background: #00a1ff;
}
#subContents .subTitle h3:after {
    content: '';
    position: absolute;
    bottom: 45px; left: 50%;
    width: 50px; height: 2.5px;
    background: #002f5f;
}

#subContents .topCont {background: url(../img/subImg/about1.jpg) no-repeat center/cover; width: 100%; height: 400px; position: relative;}
#subContents .topCont .topText {position: absolute; top: 28%; left: 5%;
font-size: 3rem; font-weight: 400; text-align: center; letter-spacing: -1px; line-height: 1.6;}
#subContents .topCont .topText span {font-weight: 600;}

/*aboutCont*/
#subContents .aboutCont {margin: 13rem 0;}
/*synergy*/
#subContents .aboutCont .synergy {position: relative; margin-bottom: 5rem;}
#subContents .aboutCont .synergy .textBox {position: absolute;
    top: 20%; left: 0;
    float: left; text-align: right; width: 600px;}
.aboutCont .synergy .textBox .contTitle {position: relative; font-size: 6rem; font-weight: 600; font-family: 'Montserrat', sans-serif;}
.aboutCont .synergy .textBox .contTitle:after {
    content: '';
    position: absolute;
    right: -20px; top: 15px;
    width: 2px; height: 42px;
    background: red;
}
.aboutCont .synergy .textBox .contText {padding-top: 2rem; font-size: 1.7rem; color: #444; line-height: 1.5;}
#subContents .aboutCont .synergy .synergyImg {float: right;}
/*innoavtion*/
#subContents .aboutCont .innovation {position: relative; margin-bottom: 5rem;}

#subContents .aboutCont .innovation .textBox {position: absolute;
    top: 20%; right: 0; float: right; text-align: left; width: 600px;}

.aboutCont .innovation .textBox .contTitle {position: relative; font-size: 6rem; font-weight: 600; font-family: 'Montserrat', sans-serif;}
#subContents .aboutCont .innovation .innovationImg {float: left;}
.aboutCont .innovation .textBox .contTitle:after {
    content: '';
    position: absolute;
    left: -20px; top: 15px;
    width: 2px; height: 42px;
    background: red;
}
/*apex*/
#subContents .aboutCont .apex {position: relative; margin-bottom: 5rem;}
#subContents .aboutCont .apex .textBox {position: absolute;
    top: 20%; left: 0;
    float: left; text-align: right; width: 600px;}
.aboutCont .apex .textBox .contTitle {position: relative; font-size: 6rem; font-weight: 600; font-family: 'Montserrat', sans-serif;}
.aboutCont .apex .textBox .contTitle:after {
    content: '';
    position: absolute;
    right: -20px; top: 15px;
    width: 2px; height: 42px;
    background: red;
}
.aboutCont .apex .textBox .contText {padding-top: 2rem; font-size: 1.7rem; color: #444; line-height: 1.5;}
#subContents .aboutCont .apex .apexImg {float: right;}


/*bottomCont*/
#bottomCont {width: 100%; height: 400px; background: url(../img/subImg/about2.jpg) no-repeat center;}
#bottomCont .bottomText {text-align: center; color: #fff; font-size: 3rem; padding: 15rem 0; box-sizing: border-box;}









/*footer*/
footer {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 90px 0;
    font-family: 'Noto Sans KR',sans-serif;
}
footer #f-box {
    width: 95%;
    max-width: 1360px;
    margin: 0 auto;
}

footer .f-logo {
    background: url(../img/logo2.png) no-repeat center;
height: 100px; width: 100%;}

footer .f-sns {text-align: center;
box-sizing: border-box; }
footer .f-sns ul li { width:30px; border: 2px solid #888; border-radius: 50%; height: 30px; position: relative; margin-right: 10px; display: inline-block;}
footer .f-sns ul .about { border-radius: 100px; width: 200px; font-family:'NIXGONB-Vb'; font-size: 1.2rem; letter-spacing: 1.2;}
footer .f-sns ul li a {line-height: 35px;}

footer .f-list {text-align: center; margin-top: 5rem; box-sizing: border-box;}
footer .f-list ul li {position: relative; width: 180px; font-weight: 600; display: inline-block;}
footer .f-list ul li:after {
    content: '';
    position: absolute;
    top: 50%; right: 0;
    border-radius: 50%;
    width: 1px; height: 1px;
    border: 1px solid #111;
    background: #111;
}
footer .f-list ul li:last-child {
    width: 110px;
}
footer .f-list ul li:last-child:after{
    display: none;
}

footer .f-address {text-align: center; margin-top:3rem;}
footer .f-address ul li {position: relative; box-sizing: border-box;font-size: 1.6rem; font-weight: 300; display: inline-block; margin-right: 2.5rem;}
footer .f-address ul li:after {
     content: '';
    position: absolute;
    top: 50%; right: -15px;
    border-radius: 50%;
    width: 1px; height: 1px;
    border: 1px solid #111;
    background: #111;}
footer .f-address ul li:last-child:after {display: none;}

footer .f-copy {text-align: center; font-size: 1.2rem; color: rgba(153, 153, 153, 0.8); margin-top:1rem;
}

/*스크롤버튼*/
.scroll-btn {
    position: fixed;
    z-index: 9990;
    bottom: 15%;
    right: 20px;
    display: none;
    cursor: pointer;
}









